body{
    /*background-image: url("./1073233-black-wood-panels.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Rubik', sans-serif!important;
}
body  {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size : cover;
}

html {
    font-family: 'Raleway', sans-serif!important;
}

.btn-dark {
    color: #000;
    background-color: #847979;
    border-color: #ccc;
}


body {
    font-family: 'Raleway', sans-serif!important;
    padding-top: 100px;
}

body {
    height:100%;
    width:100%;
}
.navbar {
    width:100%;
    height:100px;
    position:fixed;
}
.navbar-brand {
    margin-top: 28px;
}

#home{
    color:#eee;
}


.navbar a {
    color: #bbb;
    margin: 8px;
}

.square {
    border: 2px solid #0f0f0f;
    border-radius: 500px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #913a00;
}

.square:hover {
    background-color: #be4c00;
    cursor: pointer;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 43%;
    color: #fff;
    font-size: 2.0vmax
}

@media (min-width: 768px){
    #aboutmetext{
        margin-top: 15%;
    }
}

/*#imghov1 #imghov2:hover {*/
    /*border:2px solid #bbb69c;*/
    /*box-shadow: 0 0 10px #333;*/
    /*-webkit-box-shadow: 0 0 10px #333;*/
    /*-moz-box-shadow: 0 0 10px #333;*/
    /*-o-box-shadow: 0 0 10px #333;*/
/*}*/