<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/widget-chooser">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-brand pull-left">
            <a href="#/widget-image" class="no-underline-hover">
                Widget Image
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/widget-list">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid margin-left-right-15">
    <label for="widget-name-input-image">Name</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Name"
           id="widget-name-input-image"/>
    <label for="widget-text-input-image">Text</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Text"
           id="widget-text-input-image"/>
    <label for="widget-width-input-image">Width</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Width"
           id="widget-width-input-image"/>
    <label for="widget-url-input-image">URL</label>
    <input type="text"
           class="form-control"
           placeholder="Widget URL"
           id="widget-url-input-image"/>
    <div class="input-group margin-bottom-5">
        <label class="input-group-btn">
            <span class="btn btn-info">
                Choose File(s): <input type="file" class="flash-file-chooser" multiple>
            </span>
        </label>
        <input type="text" class="form-control" placeholder="No File Chosen">
    </div>

    <a class="btn btn-primary btn-block"
       href="#/widget-list">Add</a>
    <a class="btn btn-danger btn-block"
       href="#/widget-chooser">Cancel</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile" class="no-underline-hover">
                Alice Wonderland<span class="glyphicon glyphicon-user margin-left-10">
            </span>
            </a>
        </div>
    </div>
</nav>