<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/widget-chooser">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>
        </div>
        <div class="navbar-brand pull-left">
            <a href="#/widget-youtube" class="no-underline-hover">
                Widget Youtube
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/widget-list">
                    <span class="glyphicon glyphicon-ok">
                    </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid margin-left-right-15">
    <label for="widget-name-input-youtube">Name</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Name"
           id="widget-name-input-youtube"/>
    <label for="widget-text-input-youtube">Text</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Text"
           id="widget-text-input-youtube"/>
    <label for="widget-url-input-youtube">URL</label>
    <input type="url"
           class="form-control"
           placeholder="Widget URL"
           id="widget-url-input-youtube"/>
    <label for="widget-width-input-youtube">Width</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Width"
           id="widget-width-input-youtube"/>
    <a class="btn btn-primary btn-block"
       href="#/widget-list">Add</a>
    <a class="btn btn-danger btn-block"
       href="#/widget-chooser">Cancel</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile" class="no-underline-hover">
                Alice Wonderland<span class="glyphicon glyphicon-user margin-left-10">
            </span>
            </a>
        </div>
    </div>
</nav>