<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-brand pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" class="no-underline-hover">
                Widget Editor
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid"
     ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="no-underline-hover">
                <span class="glyphicon glyphicon-user margin-left-10"></span>
            </a>
        </div>
    </div>
</nav>