<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/widget-chooser">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-brand pull-left">
            <a href="#/widget-header" class="no-underline-hover">
                Widget Header
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/widget-list">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid margin-left-right-15">
    <label for="widget-name-input-header">Name</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Name"
           id="widget-name-input-header"/>
    <label for="widget-title-input-header">Title</label>
    <input type="text"
           class="form-control"
           placeholder="Widget Title"
           id="widget-title-input-header"/>
    <label for="widget-size-input-header">Size</label>
    <input type="number"
           min="1"
           max="7"
           class="form-control"
           placeholder="Widget Size"
           id="widget-size-input-header"/>
    <a class="btn btn-primary btn-block"
       href="#/widget-list">Add</a>
    <a class="btn btn-danger btn-block"
       href="#/widget-chooser">Cancel</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile" class="no-underline-hover">
                Alice Wonderland<span class="glyphicon glyphicon-user margin-left-10">
            </span>
            </a>
        </div>
    </div>
</nav>