<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-brand pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="no-underline-hover">
                Choose Widget
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-remove">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid margin-left-right-auto padding-10-top-bottom">
    <div class="col-xs-10">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/type/HEADER" class="no-underline-hover">Header</a>
    </div>
</div>
<div class="row container-fluid margin-left-right-auto padding-10-top-bottom">
    <div class="col-xs-10">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/type/IMAGE" class="no-underline-hover">Image</a>
    </div>
</div>
<div class="row container-fluid margin-left-right-auto padding-10-top-bottom">
    <div class="col-xs-10">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/type/YOUTUBE" class="no-underline-hover">Youtube</a>
    </div>
</div>
<div class="row container-fluid margin-left-right-auto padding-10-top-bottom">
    <div class="col-xs-10">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/type/HTML" class="no-underline-hover">HTML</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="no-underline-hover">
                <span class="glyphicon glyphicon-user margin-left-10">
            </span>
            </a>
        </div>
    </div>
</nav>