<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-brand pull-left">
                <a class="no-underline-hover" href="#/user/{{model.userId}}/website/">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-brand pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}" class="no-underline-hover">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div ng-repeat="website in model.websites" class="row container-fluid padding-10-top-bottom">
            <div class="col-xs-10">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page" class="no-underline-hover">{{website.name}}</a>
            </div>
            <div class="col-xs-2">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/">
                    <span class="glyphicon glyphicon-edit pull-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-8 col-xs-12 wbdv-right-pane">
        <div class="margin-left-right-15">
            <label for="website-name" class="margin-top-label">Website Name</label>
            <input ng-model="model.website.name"
                   placeholder="Website Name"
                   class="form-control"
                   id="website-name"/>

            <label for="website-description">Website Description</label>
            <textarea ng-model="model.website.description"
                      placeholder="Website Description"
                      class="form-control"
                      id="website-description"
                      rows="4"></textarea>

            <a ng-click="model.updateWebsite(model.website)" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-ok margin-right-10"></span>Update
            </a>
            <a ng-click="model.deleteWebsite(model.websiteId)" class="btn btn-danger btn-block add-margin-bottom">
                <span class="glyphicon glyphicon-trash margin-right-10"></span>Delete
            </a>

            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>

            <div class="alert alert-success" ng-show="model.message">
                {{model.message}}
            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                Alice Wonderland<span class="glyphicon glyphicon-user margin-left-10"></span>
            </a>
        </p>
    </div>
</nav>