<h1>IMAGE Editor</h1>

<label for="image-name">Widget Name</label>
<input ng-model="model.widget.name"
       class="form-control"
       id="image-name"/>

<label for="image-width">Image Width (in %)</label>
<input ng-model="model.widget.width"
       class="form-control"
       id="image-width"/>

<label for="image-url">URL</label>
<input ng-model="model.widget.url"
          class="form-control"
          id="image-url"/>

<form action="/api/upload"  method="post" enctype="multipart/form-data">
    <input  name="myFile"   type="file" class="form-control"/>
    <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
    <input name="widgetName" value="{{model.widget.name}}" style="display:none"/>
    <input name="widgetId" value="{{model.widget._id}}" style="display:none"/>
    <input name="widgetOperation" value="{{model.widget.operation}}" style="display:none"/>
    <input name="pageId" value="{{model.pageId}}" style="display:none"/>
    <input name="userId" value="{{model.userId}}" style="display:none"/>
    <input name="websiteId" value="{{model.websiteId}}" style="display:none"/>

    <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
</form>

<a ng-click=model.createWidgetForFlickr(model.pageId,model.widget) class="btn btn-warning btn-block margin-top-5">
    Search Images
</a>
