<h1>Input (Text) Editor</h1>

<label for="input-text-name">Widget Name</label>
<input ng-model="model.widget.name"
       class="form-control"
       id="input-text-name"/>

<label for="input-text-text">Text</label>
<input ng-model="model.widget.text"
          class="form-control"
          id="input-text-text"/>

<label for="input-text-rows">Rows</label>
<input ng-model="model.widget.rows"
       class="form-control"
       id="input-text-rows"
       type="number"/>

<label for="input-text-placeholder">Placeholder</label>
<input ng-model="model.widget.placeholder"
       class="form-control"
       id="input-text-placeholder"/>

<label for="input-text-formatted">Formatted</label>
<input ng-model="model.widget.formatted"
       class="form-control"
       id="input-text-formatted"
       type="checkbox"/>