<div class="container">

    <h1 class="padding-10-top-bottom">Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label for="username-input-login">Husky ID</label>
    <input ng-model="user.username"
           type="text"
           class="form-control"
           placeholder="username"
           id="username-input-login"/>

    <label for="password-input-login">Password</label>
    <input ng-model="user.password"
           type="password"
           class="form-control"
           placeholder="password"
           id="password-input-login"/>

    <a class="btn btn-success btn-block"
       ng-click="model.login(user)">Login</a>

    <a class="btn btn-primary btn-block"
       href="#/register">Register</a>
</div>